/*Fonts*/
@font-face{
  font-family: "Lucida Sans Italic";
  src: url("./assets/fonts/Lucida-Sans-Italic.ttf");
}

@font-face{
  font-family: "Segoe WP Regular";
  src: url("./assets/fonts/Segoe-WP-Regular.ttf");
}

@font-face{
  font-family: "Segoe WP Light";
  src: url("./assets/fonts/Segoe-WP-Light.ttf");
}

@font-face{
  font-family: "Asap Regular";
  src: url("./assets/fonts/Asap-Regular.ttf");
}

@font-face{
  font-family: "Segoeui Light";
  src: url("./assets/fonts/segoeuil.ttf");
}

@font-face{
  font-family: "Segoeui UI";
  src: url("./assets/fonts/Segoe-UI.ttf");
}

@font-face{
  font-family: "Segoeui Bold";
  src: url("./assets/fonts/Segoe-UI-Bold.ttf");
}

@font-face{
  font-family: "PT Sans Regular";
  src: url("./assets/fonts/PTSans-Regular.ttf");
}

@font-face{
  font-family: "PT Sans Narrow Bold";
  src: url("./assets/fonts/PTSansNarrow-Bold.ttf");
}

@font-face{
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans.ttf");
}

@font-face{
  font-family: "Arial MT";
  src: url("./assets/fonts/arialmt.ttf");
}

/*Fonts*/




/*Null styles*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  position: relative;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/*Null styles*/


/*Technical classes*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.__container {
  max-width: 1020px;
  box-sizing: content-box;
  margin: 0 auto;
  overflow: hidden;
}

._ipg {
  background-position: 0 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

._ipg img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
}

._button {
  cursor: pointer;
  transition: all 0.5s ease;
}
._button:hover {
 color:rgba(245, 197, 6, 0.15);
 background-color: #B26529;
 transform: scale(1.05);
}
._button:active {
  color:#40b229;
  background-color:#40b229 ;
 }
/*Technical classes*/

/*Header*/
.header_wrapper {
  position: relative;
opacity: 1;
height: 140px;
z-index:3;
}
.header_container {
margin-top: 2.2%;
margin-bottom: 2%;
display:flex;
justify-content: space-between;
}
.header_logo_block {
display:flex;
gap: 2%;
}
.header_logo_image_block {
}
.header_logo_image {
}
.header_logo_title {
margin-top:4%;
display:flex;
align-items: center;
font-family: "Lucida Sans Italic";
font-size: 256%;
color: #FFF;
text-transform: uppercase;
}
.header_logo_title_text {
}
.header_nav_block {
box-sizing: content-box;
flex-basis: 44.4%;
display:flex;
justify-content: end;
align-items:end;

}
.header_nav {
flex-basis: 100%;

}


.header_nav_list {
flex-basis: 100%;
box-sizing: content-box;
display:flex;
justify-content: end;
box-shadow: -5px -5px rgba(245, 197, 6, 0.27);

}

.header_nav_list_item:first-child {
  padding: 2.4% 5% 2.4% 8%;
  flex-basis: 38%;
 }
 .header_nav_list_item:last-child {
    flex-basis: 32%;
 }

.header_nav_list_item {
  flex-basis: 30%;
display:flex;
padding: 0.9% 5% 0.9% 3%;
border-right: 1px solid #DCB105;
background-color: #F5C506;
gap: 7%;

}
.header_nav_image_block {
display:flex;
justify-content:center;
align-self: center;
align-items:center;

}
.header_nav_text {
align-items: center;
display:flex;
justify-content:center;
font-size: 100%;
letter-spacing: 1px;
  color: #9B7D08;
  text-transform: uppercase;
  font-family: "Segoe WP Regular";
}
/*Header*/

/*Main*/

.main {
flex: 1 1 auto;
}

/*Section preview*/
.main_preview {
position: relative;
  margin-top: -140px;
  overflow: hidden;
}
.main_preview_container1300 {
padding-top: 12.5%;
display:flex;
max-width: 1300px;
margin: 0 auto;
justify-content:space-between;
padding-bottom: 5.2%;
}
.main_preview_container_arrow_left {
display:flex;

}
.main_preview_arrow_left {
display:flex;
justify-content:center;
align-self: center;
align-items:center;
width: 32px;
height: 57px;
background-color: rgba(245, 197, 6, 1);
transition: background-color 0.3s;
cursor: pointer;
margin-top: -25%;
}
.arrow_left {
width: auto;
height: auto;

}
.main_preview_container {
flex-basis: 77%;
box-sizing: content-box;
overflow: hidden;
display:flex;
align-self:center;
justify-content:space-between;

}
.main_preview_video_block {
position:relative;
width: 100%;
height: auto;
aspect-ratio: 1.68/1;
max-width: 550px;
flex-basis: 60%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.main_preview_video_image {
  height: 100%;
  width: 100%;
object-fit:cover;

}
.preview_video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(245, 197, 6, 0.11);
  z-index: 2;
  object-fit:cover;
}
.main_preview_video_nav {
  display:flex;
  width: 90%;
  flex-direction:column;
  align-items: center;
  position:relative;
margin-top: -39%;
margin-right: 0%;
z-index:5;
}
.main_preview_video_nav_main_play {
 width: 100%;
 display:flex;
justify-content:center;

}
.main_play_container {
  width: 64px;
  height: 64px;
  background-color: rgba(245, 197, 6, 1);
  transition: 0.5s;
  border-radius: 50%;
  display:flex;
justify-content:center;
align-self:center;
align-items:center;
cursor: pointer;
}
.main_play {
  
}
.main_preview_video_nav_bar {
width: 100%;
display:flex;
justify-content: space-between;
align-items: center;
gap:1%;
margin-top:16.5%;
}
.main_preview_video_nav_play {
display:flex;
justify-content:center;
align-self: center;
align-items:center;
opacity: 0.36;
background-color: rgba(245, 197, 6, 1);
width: 27px;
  height: 27px;
  cursor: pointer;
}
.nav_play {
height: 12px;
width:12px;
}

.main_preview_video_nav_swiper {
  flex-basis: 80%;
} 
.nav_swiper {
  height: 15px;
  -webkit-appearance: none;
  background: rgba(245, 197, 6, 0.278);
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
    
}

.nav_swiper::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: transparent;
  cursor: pointer;
  box-shadow: -500px 0 0 500px rgba(245, 197, 6, 1);
  transition: 0.1s;
}

.nav_swiper:hover {
  cursor: pointer;
}

.nav_swiper:hover::-webkit-slider-thumb {
  box-shadow: -407px 0 0 400px #FFF;
}

.main_preview_video_nav_sound {
  cursor: pointer;
}
.nav_sound {

}
.main_preview_text_block {
display:flex;
justify-content:center;
flex-direction:column;
align-self: center;
text-align:center;
line-height: 120%;
flex-basis: 40%;
font-family: "Asap Regular";
font-size: 393.75%;
text-transform: uppercase;
font-weight: 100;
margin-top: -3%;
flex-basis: 41.5%;
}
.main_preview_text1 {
color: #F5C506;
}
.main_preview_text2 {
color: #FFF;
}
.main_preview_container_arrow_right {
display:flex;
}
.main_preview_arrow_right {
display:flex;
justify-content:center;
align-self: center;
align-items:center;
width: 32px;
height: 57px;
background-color: rgba(245, 197, 6, 1);
transition: background-color 0.3s;
cursor: pointer;
margin-top: -25%;
}
.arrow_right {
}
.main_preview_image {
position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
z-index: -1;
}
.main_cover {
}
/*Section preview*/

/*Section better*/
.main_better {
background-image: url(./assets/icons/bg-lines1.png);
  background-repeat: repeat;
}
.main_better_container {

display:flex;

}
.main_better_content_block:first-child {
padding-top:6%;

}
.main_better_content_block:last-child {
  padding-top:5%;
   
  }
  
  .main_better_content_block{
    padding-top:4%;
    padding-bottom:2.7%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #D4D4D4;
    flex-basis: 33.33%;
    }


.main_better_content_block:last-child {
border-right: 1px solid #D4D4D4;
}


.main_better_image_block {
display:flex;
justify-content:center;

}
.better_image {
}

.main_better_text_block {
  margin-left:4%;
  margin-top: 1%;
text-align:center;
}

.__cloud {

}

.__leaf {
  margin-left:4%;
}

.__paper {
  margin-left:-4%;
}


.main_better_text {
font-family: "Segoeui Light";
  text-transform: uppercase;
  font-size: 168.75%;
  line-height: 168.75%;;
}
/*Section better*/

/*Section slider*/
.main_slider {
background-image: url(./assets/icons/bg-tiles.png);
background-repeat: repeat;
}
.main_slider_container {
display:flex;
flex-direction: column;
padding-bottom: 1.5%;

}
.main_slider_text_block {
 
}
.main_slider_text {
  font-family: "PT Sans Regular";
  color: #FFFFFF;
  font-size: 231.25%;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  padding-top: 3.8% ;
  padding-bottom: 3.3%;
}
.main_slider_slider_block {
display:flex;
}
.main_slider_slider_text_block {
  flex-basis: 33.5%;
  display: flex;
  flex-direction: column;
height: auto;
  box-sizing: border-box;
  background-color: #EC9E03;
  padding: 1.9% 1.5% 1% 3%;
}
.main_slider_slider_text {
  align-self: center;
}
.main_slider_slider_text_p {
font-family: "Segoeui Light";
  font-size: 181.25%;
  letter-spacing: 0.008em;
  line-height: 128%;
  color: #FFFFFF;
  
}
.main_slider_slider_plus {
  align-self: flex-end;
}
.plus {
  margin-top: 25%;
}
.main_slider_slider_video_block {
  display:flex;
  flex-direction: column;
  flex-basis: auto;
  position: relative;
}
.main_slider_slider_video {
}
.main_slider_slider_video_play {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
z-index: 3;
}
.main_slider_slider_play_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -44%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.7;
  background-color: rgba(245, 197, 6, 0.7);
}
.main_slider_play {
}
.main_slider_slider_twitter_block {
  position: relative;
  margin-left: 3.3%;
  flex-basis: 32%;
background-color: #EC9E03;
display: flex;
flex-direction: column;

}

.main_slider_slider_twitter_block_digit {
 margin-top: 4.8%;
 margin-right: 5%;
  align-self: flex-end;
  font-family: "Segoe WP Light";
  font-size: 156.25%;
    color: #FFFFFF;
}
.main_slider_slider_twitter {
  margin-top: 5%;
  align-self: center;
}
.twitter {
}
.main_slider_twitter_plus {
  margin-top: 5%;
 margin-right: 3%;
  align-self: flex-end;
  cursor:pointer;
}
.main_slider_date_block {
width: 113px;
  background-color: #DDB101;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8% 0% 0.8% 0%;
}


.main_slider_date_p {
color: #FFFFFF;
  font-family: "Segoeui Bold";
  font-size: 318.75%;
}
.main_slider_date_month {
color: #B26529;
  font-family: "Segoeui UI";
  font-size: 131.25%;
  text-transform: uppercase;
}
.main_slider_swiper_block {
  margin-top: 4.2%;
  display: flex;
  justify-content: center;
}

.main_slider_swiper {
  margin-left: 2.5%;
display: block;
  width: 88%;
  height: 15px;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.478);
  outline: none;
  border-radius: 15px;
  overflow: hidden;

}
.main_slider_swiper::-webkit-slider-thumb {
-webkit-appearance: none;
  width: 22.22%;
  height: 15px;
  border-radius: 50px;
  background: rgba(236, 158, 3, 1);
  cursor: pointer;
}

.twitter_message_block { 
  display:none;
}
/*Section slider*/


/*Section buble*/

.main_buble {
background-image: url(./assets/icons/bg-bricks1.png);
  background-repeat: repeat;

}
.main_buble_container {
  padding-top: 3.1%;
display:flex;
flex-direction: column;
padding-bottom: 7%;
}
.main_buble_text_block {
}
.main_buble_text_h2 {
font-family: "PT Sans Regular";
  font-size: 268.75%;
  font-weight: 200;
  letter-spacing: 0.01em;
  color: #F5C506;
  text-transform: uppercase;
  text-align: center;
}
.main_buble_buble_block {
display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  position: absolute;
  margin-top:3.8%;
  z-index: 5;
 }
.buble {
display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 117px;
  background-color: #F5C506;
  border-radius: 50%;

}
.buble_text {
font-family: "PT Sans Narrow Bold";
  color: #fff;
  text-transform: uppercase;
  font-size: 115%;
font-weight: bold;
}
.main_buble_monitor_block {
  margin-top: 4%;
  margin-left: 2%;
display: flex;
position:relative;

}
.main_buble_monitor_images_block {

display:flex;
align-items: center;
}
.monitor_big {
}
.monitor_medium {
  margin-top: -2%;
  margin-left: 3.5%;
  
}
.monitor_small {
  margin-top: 20%;
  margin-left: 6%;
}
.main_buble_monitor_text_block {
font-family: "Open Sans";
  color: #A9A9A7;
  font-size: 137.5%;
  line-height: 120%;
display:flex;
flex-direction: column;

margin-left: 12.6%;
width: 100%;
margin-top: 6%;
}
.main_buble_monitor_text_item{
  width:100%;
  display:flex;
}

.main_buble_monitor_text_item{
  margin-top: 5.1%;
}
.main_buble_monitor_text_item:first-child{
  margin-top: 0%;
}

.main_buble_monitor_point {
  width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #F5C506;
    margin-right: 6%;
 }

.main_buble_monitor_text_item_block {
display:flex;
align-items: flex-start;
}
.main_buble_monitor_text {

}
/*Section buble*/


/*Main*/

/*Footer*/
.footer {
position:relative;
box-shadow: 0 0 10px #000;
  z-index: 2;
background-image: url(./assets/icons/bg-bricks1.png);
  background-repeat: repeat;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
}
.footer_container {
}
.footer_logo_block {
display:flex;
gap:0.5%;
}
.footer_logo_image_block {
}
.footer_logo_image {
width: 58px;
  height: 58px;
}
.footer_logo_title {
display:flex;
justify-content: center;
align-self: center;

}
.footer_logo_title_text {
font-size: 181.25%;
display:flex;
align-items: center;
font-family: "Lucida Sans Italic";
color: #FFF;
text-transform: uppercase;

}

/*Footer*/

